In [55]:
import json, pandas

In [56]:
trades = pandas.read_csv('20210420_vale3_bbt.log.csv',sep=';')
trades.head()

         time   price  qty  buyer  seller agressor
0  1618929356  106.07  100    386       3        A
1  1618929356  106.07  100    386      85        A
2  1618929354  106.07  200    386      85        A
3  1618929349  106.07  100   3701     120        A
4  1618929348  106.04  300     72      40        V

In [57]:
broker = None
with open('broker.json', "r") as broker_json_file:
    broker = json.load(broker_json_file)

In [58]:
pnl={}
for i,trade in trades.iterrows():
    buyer = trade['buyer']
    seller = trade['seller']
    qty = trade['qty']
    price = trade['price']
    volume = price * qty
    agressor_buyer = 1 if trade['agressor'] == 'A' else 0
    agressor_seller = 1 if trade['agressor'] == 'V' else 0
    buyer_stats_from_dict = pnl.get(buyer)
    if buyer_stats_from_dict is None:
        stats = {}
        stats['net'] = volume
        stats['qty'] = qty
        stats['agressor'] = agressor_buyer
        pnl[buyer] = stats
    else:
        buyer_stats_from_dict['net'] = buyer_stats_from_dict['net'] + volume
        buyer_stats_from_dict['qty'] = buyer_stats_from_dict['qty'] + qty
        buyer_stats_from_dict['agressor'] = buyer_stats_from_dict['agressor'] + agressor_buyer

        pnl[buyer] = buyer_stats_from_dict
        
    seller_stats_from_dict = pnl.get(seller)
    if seller_stats_from_dict is None:
        stats = {}
        stats['net'] = -volume
        stats['qty'] = qty
        stats['agressor'] = agressor_seller
        pnl[seller] = stats
    else:
        seller_stats_from_dict['net'] = seller_stats_from_dict['net'] - volume
        seller_stats_from_dict['qty'] = seller_stats_from_dict['qty'] + qty
        seller_stats_from_dict['agressor'] = seller_stats_from_dict['agressor'] + agressor_seller

        pnl[seller] = seller_stats_from_dict

statistics_array = []
for idx in pnl:
    broker_name = [x for x in broker if x['playerMarketCode'] == str(idx)][1]['playerNameFull']
    statistics_array.append([idx, broker_name, pnl[idx]['net'], pnl[idx]['qty'], pnl[idx]['agressor']])
statistics = pandas.DataFrame(statistics_array, columns=['BROKER_ID', 'BROKER_NAME', 'NET', 'QTY', 'AGRESSOR'])

In [59]:
statistics.sort_values('QTY',ascending=False)

    BROKER_ID                     BROKER_NAME         NET      QTY  AGRESSOR
14          8               UBS Brasil. CCTVM  18747882.0  2765200      2301
1           3      XP INVESTIMENTOS CCTVM S.A -52130499.0  2330000      2925
28         13         MERRILL LYNCH S.A. CTVM -25250738.0  2119500       614
4         120                   BRASIL PLURAL  -1282870.0  1462400      1454
8        1618                           IDEAL   9834157.0  1289700      1266
12         45  CREDIT SUISSE BRASIL S.A. CTVM  91518926.0  1216700      4122
2          85            BTG PACTUAL CTVM S.A  41743156.0  1074500      1004
6          40  MORGAN STANLEY D. W. CTVM S.A. -32823650.0   971200       859
24         77                       CITIGROUP -55768921.0   865100       693
5          72              BRADESCO S.A. CTVM -10668241.0   630900       634
10        114                     ITAU CV S/A -25425228.0   542300      1246
7         308                 CLEAR CTVM LTDA   -121657.0   480100      1579
0         386                   OCTO CTVM S/A  -3119380.0   384400       733
18         39                 AGORA CTVM S.A.  -1111680.0   269000       256
16        238    GOLDMAN SACHS DO BRASIL CTVM   6045594.0   191400       371
17         27              SANTANDER S.A. CCT  -4072337.0   177200       106
15        129                  PLANNER CV S.A  15209280.0   177100       221
19         23                          NECTON  10825699.0   145800       187
27         16          J. P. MORGAN CCVM S.A.   -557135.0   134100       144
21       1982                      MODAL DTVM   1203867.0   127800       380
48         92            RENASCENCA DTVM LTDA  12145306.0   114400       103
11         15              INDUSVAL S.A. CTVM   5505974.0   107800       115
33        147                 ATIVA S.A. CTCV   -660965.0    78200       114
20         21            VOTORANTIM CTVM LTDA   -949786.0    69100        69
29        122              LIQUIDEZ DTVM LTDA  -5934135.0    69000       158
34         59                 SAFRA CVC LTDA.    580816.0    65900        54
26        735        ICAP DO BRASIL CTVM LTDA   1028485.0    62600        27
42       1130                        FC STONE   5655489.0    57600         4
3        3701                           ORAMA   1578110.0    46300       102
22        127  TULLETT PREBON BRASIL S.A. CVC  -1773296.0    38100        42
13       1099                 INTER DTVM LTDA  -1176605.0    33900        29
31        262   MIRAE ASSET SECURITIES BRASIL   -358791.0    33600        67
23         93           NOVA FUTURA CTVM LTDA    241127.0    33500        81
25        107      TERRA INVESTIMENTOS CM S/A   1355796.0    32400       108
32         90                  TITULO CV S.A.    326133.0    31300        75
30         88              CM CAPITAL MARKETS   -309311.0    21500        15
35        174                ELITE CCVM LTDA.   1780870.0    19400        25
37         58         SOCOPA SC PAULISTA S.A.   -196101.0    17800         9
46       6003                              C6   -944548.0    10100        17
47        177               SOLIDUS S.A. CCVM   -837401.0     7900         0
9        4090                            TORO     42334.0     4200        22
40        234                  CODEPE CV S.A.    115426.0     3100        30
43        172              BANRISUL S.A. CVMC   -201737.0     2100         1
36       1855                          VITREO     74111.0     1300         5
41        131                   FATOR S.A. CV    -95122.0     1100         2
44        187                 SITA SCCVM S.A.    116557.0     1100         0
45        190                WARREN CVMC LTDA    105274.0     1000         6
38        115         HENCORP COMMCOR CM LTDA    -31417.0      700         6
39         63             NOVINVEST CVM LTDA.     21182.0      200         1